.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  text-align: justify;
}

.cards-container {
  margin: 36px;
  display: flex;
  gap: 20px;
}

ul {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 75px;
  padding-top: 40px;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}
